{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Todos</h1>
    {% if tasks|length < 1 %}
        <h4>empty list add one below</h4>
    {% else %}

    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Time Spent</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>{{ task.time_spent }}</td>
            <td>
                <a href="/delete/{{task.id}}">delete</a>
            <br>
            <a href="/update/{{task.id}}">update</a>
        </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br><BR>

    <form actions="/" method="POST">
        name <input type="text" name="content" id="content">
        <br><br>
        time spent <input type="text" name="time_spent" id="time_spent">
        
        <input type="submit" value="Add Task">
    </form>
</div>
{% endblock %}
